.py-base{
  padding-block: var(--py-base);
}

.py-lg{
  padding-block: var(--py-lg);
}

.px-base{
  padding-inline: var(--px-base);
}

.px-lg{
  padding-inline: var(--px-lg);
}

.container{
  --max-width: 375px;
  width: min(var(--max-width), 100%  - var(--px-lg) * 2);
  margin-inline: auto;
} 


.desktop-only{
  display: none;
}

.even-columns{
  display: grid;
  gap: 1rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.grid{
  display: grid;
}

.items-center{
  align-items: center;
}

.gap-1{
  gap: 1rem;
}

.icon{
  width: 1.5rem;
}

@media (width >= 80em){
  .container{
    --max-width:80rem;
  }

  .desktop-only{
    display: initial;
  }

  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}